h4{
    color: rebeccapurple;
    font-size: 3opx;
    background-color: yellow;
}
h5{
    color: blue;
    font-size: 30px;
    background-color: yellow;
}

/*  */
h1,h4,div {
    text-decoration: none;
}
section div{
    color: rebeccapurple;
    font-size: 3opx;
    background-color: yellow;
}